<h1 mat-dialog-title>Add new contact</h1>
<div mat-dialog-content>
  <form [formGroup]="contactAddForm">
    <mat-form-field>
        <input matInput type="text" name="name" formControlName="name" placeholder="Name">
    </mat-form-field>

    <mat-form-field>
        <input matInput type="text" name="addressLine1" formControlName="addressLine1" placeholder="Address Line 1">
    </mat-form-field>

     <mat-form-field>
        <input matInput type="text" name="postcode" formControlName="postcode" placeholder="Postcode">
    </mat-form-field>

    <mat-form-field>
        <input matInput type="text" name="city" formControlName="city" placeholder="City">
    </mat-form-field>

    <mat-form-field>
        <input matInput type="text" name="country" formControlName="country" placeholder="Country">
    </mat-form-field>

    <mat-form-field>
        <input matInput type="text" name="phone_number" formControlName="phone_number" placeholder="Phone Number">
    </mat-form-field>
  </form>
<div mat-dialog-actions>
  <button mat-button (click)="close()" color="accent">Cancel</button>
  <button mat-button  (click)="add()" color="primary">Add Contact</button>
</div>

